:root {
    --orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --white: hsla(0, 0%, 100%, 0.75);
    --gray: hsl(0, 0%, 95%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*--------- MOBILE FIRST ---------*/

body{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--gray);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
}


h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    margin-bottom: 30px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 1.875rem; 
}

p {
    margin-bottom: 40px;
    color:var(--white);
    letter-spacing: 1.5px;
    line-height: 1.5;
}

img{
    margin-bottom: 30px;
    width: 64px; 
    height: 40px;  

}

a {
    display: inline-flex;
    justify-content: center;  
    padding: 8px 25px;
    border-radius: 30px;
    border:3px solid white;
    text-decoration: none;
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    border-radius:15px;
    overflow: hidden;
}

.card {
    padding: 40px;
    display: flex; 
    flex-direction: column;
}

.sedans {
    background-color: var(--orange);
}

.btn {
    margin-top: auto;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;   
}
.btn_sedan {
    color: var(--orange);
}

.btn_sedan:hover{
    background-color:var(--orange);
} 

.suvs {
    background-color: var(--dark-cyan);
}

.btn_suvs{
    color: var(--dark-cyan);
}

.btn_suvs:hover{
    background-color: var(--dark-cyan);
}

.luxury{
    background-color: var(--very-dark-cyan);
}

.btn_luxury{
    color: var(--very-dark-cyan);
}

.btn_luxury:hover{
    background-color: var(--very-dark-cyan);
}

.btn:hover {
    color: var(--white);
    cursor: pointer;
    transition: background-color 1s ease;
}

/*--------- DESKTOP ---------*/

@media (min-width:35rem) {

    body{
        padding: 1rem;
    }
    .container {
        display: flex;
        flex-direction: row;
        max-width: 990px;
        border-radius: 15px;  
    }

    p {
        margin-bottom: 80px;
    }
}

